FIREBASE_PROJECT_ID=mk-maneger-b7e3f
FIREBASE_CLIENT_EMAIL=your-firebase-adminsdk-email@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
ADMIN_PASSWORD=your_admin_panel_password
